In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
books = pd.read_csv('books.csv')
users = pd.read_csv('users.csv')
ratings = pd.read_csv('ratings.csv')

C:\Users\rohan\AppData\Local\Temp\ipykernel_18220\3819754567.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('books.csv')

In [3]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [4]:
books.head(1)['Image-URL-S']

0    http://images.amazon.com/images/P/0195153448.0...
Name: Image-URL-S, dtype: object

In [5]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [6]:
books.isna().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [7]:
users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [8]:
users.Age.value_counts()

24.0     5687
25.0     5618
26.0     5547
23.0     5456
27.0     5383
         ...
168.0       1
132.0       1
159.0       1
186.0       1
127.0       1
Name: Age, Length: 165, dtype: int64

In [9]:
users[users.Age==168]

        User-ID                Location    Age
119281   119282  chicago, illinois, usa  168.0

In [10]:
users.isnull().sum() #number of null values

User-ID          0
Location         0
Age         110762
dtype: int64

In [11]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [12]:
users.shape

(278858, 3)

In [13]:
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [14]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [15]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [16]:
books.duplicated().sum()

0

In [17]:
users.duplicated().sum()

0

In [18]:
ratings.duplicated().sum()

0

## Popularity based RS

In [19]:
#On the basis of popularity, RS recommends everyone the same top 50/100 items present. It's like IMDB's top 50 movies or the YT's trending page

In [20]:
#Here some scenarios may arise that a book might have only 2 or 3 rating of 10 points then its average will be 10 which will be misleading.
#So, we will put a check that book having votes of more than 50.
#So, we will merge books and rating df on the basis of ISBN

In [21]:
ratings_with_name=ratings.merge(books,on='ISBN')
ratings_with_name

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

In [22]:
ratings_with_name.shape

(1031136, 10)

In [23]:
popular_df=pd.concat([ratings_with_name.groupby('Book-Title').mean(),ratings_with_name.groupby('Book-Title').count().rename(columns={'Book-Rating':'num-rating'})['num-rating']],axis=1)
popular_df

C:\Users\rohan\AppData\Local\Temp\ipykernel_18220\2702947045.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  popular_df=pd.concat([ratings_with_name.groupby('Book-Title').mean(),ratings_with_name.groupby('Book-Title').count().rename(columns={'Book-Rating':'num-rating'})['num-rating']],axis=1)

,User-ID,Book-Rating,num-rating
Book-Title,,,
"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",51807.250000,2.250000,4
Always Have Popsicles,172742.000000,0.000000,1
Apple Magic (The Collector's series),198711.000000,0.000000,1
"Ask Lily (Young Women of Faith: Lily Series, Book 5)",269557.000000,8.000000,1
Beyond IBM: Leadership Marketing and Finance for the 1990s,11601.000000,0.000000,1
...,...,...,...
Ã?Â?lpiraten.,100532.500000,0.000000,2
Ã?Â?rger mit Produkt X. Roman.,116729.500000,5.250000,4
Ã?Â?sterlich leben.,256636.000000,7.000000,1
Ã?Â?stlich der Berge.,198497.333333,2.666667,3
Ã?Â?thique en toc,39532.000000,4.000000,2

In [24]:
popular_df=popular_df[popular_df['num-rating']>=50].sort_values('Book-Rating',ascending=False)
popular_df.drop(['User-ID'],axis=1,inplace=True)
popular_df

                                                    Book-Rating  num-rating
Book-Title
Free                                                   8.017857          56
The Stand (The Complete and Uncut Edition)             6.175439          57
Griffin &amp; Sabine: An Extraordinary Correspo...     6.041667          72
Harry Potter and the Prisoner of Azkaban (Book 3)      5.852804         428
Harry Potter and the Goblet of Fire (Book 4)           5.824289         387
...                                                         ...         ...
Wild Animus                                            1.019584        2502
A Secret Affair                                        1.000000          50
Whirlwind                                              1.000000          61
Ssn                                                    0.970149          67
Ground Zero and Beyond                                 0.735294          68

[2444 rows x 2 columns]

In [25]:
popular_df=popular_df.merge(books,on="Book-Title").drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num-rating','Book-Rating']]
#dropping duplicates as there are same book with different ISBN in books.csv
popular_df

,Book-Title,Book-Author,Image-URL-M,num-rating,Book-Rating
0,Free,Paul Vincent,http://images.amazon.com/images/P/1844262553.0...,56,8.017857
3,The Stand (The Complete and Uncut Edition),Stephen King,http://images.amazon.com/images/P/0385199570.0...,57,6.175439
4,Griffin &amp; Sabine: An Extraordinary Corresp...,Nick Bantock,http://images.amazon.com/images/P/0877017883.0...,72,6.041667
5,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
8,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
...,...,...,...,...,...
7088,Wild Animus,Rich Shapero,http://images.amazon.com/images/P/0971880107.0...,2502,1.019584
7089,A Secret Affair,Barbara Taylor Bradford,http://images.amazon.com/images/P/0061012289.0...,50,1.000000
7091,Whirlwind,Clavell,http://images.amazon.com/images/P/0688066631.0...,61,1.000000
7093,Ssn,Tom Clancy,http://images.amazon.com/images/P/0425173534.0...,67,0.970149
7094,Ground Zero and Beyond,J. P. McCarthy,http://images.amazon.com/images/P/1401088945.0...,68,0.735294

## Collaborative Filtering based RS

In [26]:
#it recommends on the similarity between the current users and past users' interests.

In [27]:
ratings_with_name

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

In [28]:
#Lets only gather those users who have an experience of rating atleast 100 books.
dd=pd.DataFrame(ratings_with_name.groupby("User-ID").count()['Book-Rating']>=100)
ex_users=dd[dd['Book-Rating']==True].index
#since here userid is groupby so userid is the index

In [29]:
filtered_rating=ratings_with_name[ratings_with_name['User-ID'].isin(ex_users)]
filtered_rating

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
14,77480,034545104X,8,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031115,276680,0812881311,0,Streets of Gold,Evan Hunter,1985,Madison Books,http://images.amazon.com/images/P/0812881311.0...,http://images.amazon.com/images/P/0812881311.0...,http://images.amazon.com/images/P/0812881311.0...
1031116,276680,0865055041,0,Kitchen (Historic Communities (Paperback)),Bobbie Kalman,1990,Crabtree Publishing Company,http://images.amazon.com/images/P/0865055041.0...,http://images.amazon.com/images/P/0865055041.0...,http://images.amazon.com/images/P/0865055041.0...
1031117,276680,086505505X,0,Home Crafts (Historic Communities (Paperback)),Bobbie Kalman,1990,Crabtree Publishing Company,http://images.amazon.com/images/P/086505505X.0...,http://images.amazon.com/images/P/086505505X.0...,http://images.amazon.com/images/P/086505505X.0...
1031118,276680,1564407284,0,"The Old Sturbridge Village Cookbook, 2nd : Aut...",Caroline Sloat,1995,Globe Pequot,http://images.amazon.com/images/P/1564407284.0...,http://images.amazon.com/images/P/1564407284.0...,http://images.amazon.com/images/P/1564407284.0...
1031119,276680,1582343594,0,City of Masks : A Cree Black Novel,Daniel Hecht,2004,Bloomsbury USA,http://images.amazon.com/images/P/1582343594.0...,http://images.amazon.com/images/P/1582343594.0...,http://images.amazon.com/images/P/1582343594.0...

In [30]:
#Now, we will take only those books who have number of rating equal to 50 or greater
dd2=pd.DataFrame(filtered_rating.groupby("Book-Title").count()['Book-Rating']>=50)
ex_books=dd2[dd2['Book-Rating']==True].index
ex_books

Index(['1984', '1st to Die: A Novel', '2010: Odyssey Two', '204 Rosewood Lane',
       '24 Hours', '2nd Chance', '4 Blondes', '84 Charing Cross Road',
       'A 2nd Helping of Chicken Soup for the Soul (Chicken Soup for the Soul Series (Paper))',
       'A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash',
       ...
       'Without Remorse', 'Wizard and Glass (The Dark Tower, Book 4)',
       'Women Who Run with the Wolves',
       'Word Freak: Heartbreak, Triumph, Genius, and Obsession in the World of Competitive Scrabble Players',
       'Wuthering Heights', 'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=1072)

In [31]:
filtered_rating=filtered_rating[filtered_rating['Book-Title'].isin(ex_books)]
filtered_rating

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
67,8253,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
1028777,271284,0440910927,0,The Rainmaker,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...
1029070,271705,B0001PIOX4,0,Fahrenheit 451,Ray Bradbury,1993,Simon &amp; Schuster,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...
1029756,274004,037572799X,0,In Pursuit of the Proper Sinner,Elizabeth George,2000,Random House Large Print Publishing,http://images.amazon.com/images/P/037572799X.0...,http://images.amazon.com/images/P/037572799X.0...,http://images.amazon.com/images/P/037572799X.0...
1030363,274808,0449701913,0,Homecoming,Cynthia Voigt,1983,Fawcett Books,http://images.amazon.com/images/P/0449701913.0...,http://images.amazon.com/images/P/0449701913.0...,http://images.amazon.com/images/P/0449701913.0...
1030868,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...

In [32]:
filtered_rating.duplicated().sum()

0

In [33]:
pt=filtered_rating.pivot_table(index="Book-Title",columns='User-ID',values='Book-Rating')
pt

User-ID,254,507,882,1424,1435,1733,1903,2033,2110,2276,...,275020,275970,276463,276680,277427,277478,277639,278137,278188,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010: Odyssey Two,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204 Rosewood Lane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
24 Hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
pt.loc['1984'].mean()

3.5034722222222228

In [35]:
#for i in pt.index:
#    pt.loc[i]=pt.loc[i].fillna(pt.loc[i].mean())
#or
pt.fillna(0,inplace=True)
pt

User-ID,254,507,882,1424,1435,1733,1903,2033,2110,2276,...,275020,275970,276463,276680,277427,277478,277639,278137,278188,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
204 Rosewood Lane,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
#now, we can imagine a single book plotted in 1645 dimensions and then we will use cosine similarity.

In [37]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_scores=cosine_similarity(pt)
similarity_scores.shape
#similarity_Scores contains the euclidean distance of every book to all 1072 books

(1072, 1072)

In [38]:
similarity_scores[0]
#similarity score of first book '1984' with other books

array([1.        , 0.06550754, 0.09317747, ..., 0.07547772, 0.05810769,
       0.03029366])

In [39]:
similarity_scores
#we see that the positions are same whether index or columns

array([[1.        , 0.06550754, 0.09317747, ..., 0.07547772, 0.05810769,
        0.03029366],
       [0.06550754, 1.        , 0.02247675, ..., 0.04739871, 0.13548709,
        0.12388301],
       [0.09317747, 0.02247675, 1.        , ..., 0.09310325, 0.        ,
        0.        ],
       ...,
       [0.07547772, 0.04739871, 0.09310325, ..., 1.        , 0.05583662,
        0.0137213 ],
       [0.05810769, 0.13548709, 0.        , ..., 0.05583662, 1.        ,
        0.09410287],
       [0.03029366, 0.12388301, 0.        , ..., 0.0137213 , 0.09410287,
        1.        ]])

In [40]:
#to find index position
np.where(pt.index=='Zoya')[0][0]

1070

In [41]:
#also we need to enumerate the similarity score of each book so as to get to know that which book's euclidean distance is mentioned
list(enumerate(similarity_scores[0]))

[(0, 0.9999999999999999),
 (1, 0.0655075384044448),
 (2, 0.09317746621659334),
 (3, 0.0),
 (4, 0.009722316399413395),
 (5, 0.008054094650987997),
 (6, 0.0),
 (7, 0.070551332689024),
 (8, 0.03423204512344849),
 (9, 0.0),
 (10, 0.03379284353649112),
 (11, 0.06681636361132519),
 (12, 0.047626939641346885),
 (13, 0.06441592815945904),
 (14, 0.03524833057168071),
 (15, 0.0),
 (16, 0.0),
 (17, 0.009204071581260418),
 (18, 0.023964214596610765),
 (19, 0.024470201632145677),
 (20, 0.04893499518611978),
 (21, 0.017394573947202147),
 (22, 0.04266751800588524),
 (23, 0.013202225310401534),
 (24, 0.007560985471428589),
 (25, 0.05478340464153213),
 (26, 0.04900058247649345),
 (27, 0.09291532530701768),
 (28, 0.050415390187525035),
 (29, 0.07653479411446046),
 (30, 0.03450778206808572),
 (31, 0.0170106735352967),
 (32, 0.08986696436517477),
 (33, 0.0),
 (34, 0.0),
 (35, 0.0),
 (36, 0.0895372509539337),
 (37, 0.049547580524288586),
 (38, 0.04177355944189604),
 (39, 0.0801951868658444),
 (40, 0.05763481359294358),
 (41, 0.0),
 (42, 0.045711046998872205),
 (43, 0.09213873092386393),
 (44, 0.05002045177191855),
 (45, 0.10212272950737146),
 (46, 0.02423430985858773),
 (47, 0.0752311239768215),
 (48, 0.008393128067487808),
 (49, 0.0),
 (50, 0.05348629884304635),
 (51, 0.0),
 (52, 0.025348893527612836),
 (53, 0.06385596440275534),
 (54, 0.030741838028760363),
 (55, 0.0221667686188356),
 (56, 0.011415465726630703),
 (57, 0.09388368336389111),
 (58, 0.08101586855988147),
 (59, 0.012782999690015798),
 (60, 0.017643241939380647),
 (61, 0.051623774085028766),
 (62, 0.06932663487929479),
 (63, 0.14787088328153314),
 (64, 0.0),
 (65, 0.03253358214076733),
 (66, 0.0),
 (67, 0.048663186663399575),
 (68, 0.0),
 (69, 0.03073760085475662),
 (70, 0.0557117428400033),
 (71, 0.048608427858600305),
 (72, 0.0773946826493094),
 (73, 0.0392370659218286),
 (74, 0.038441156375480644),
 (75, 0.23331416605380295),
 (76, 0.0),
 (77, 0.09713323081809538),
 (78, 0.06624486524371945),
 (79, 0.09041583036603627),
 (80, 0.07989563712063764),
 (81, 0.04795944330578893),
 (82, 0.0463356034632664),
 (83, 0.027743069200706745),
 (84, 0.0121402359157079),
 (85, 0.0),
 (86, 0.09952238885278192),
 (87, 0.0),
 (88, 0.18387183815857203),
 (89, 0.03797209890878864),
 (90, 0.004053645703337135),
 (91, 0.06071029302149514),
 (92, 0.05885569532867381),
 (93, 0.012432557504801333),
 (94, 0.12268648909484382),
 (95, 0.0),
 (96, 0.008178129124459475),
 (97, 0.04428561707668471),
 (98, 0.01819052375407218),
 (99, 0.02833520159963372),
 (100, 0.08878715136687788),
 (101, 0.10009489593728585),
 (102, 0.0),
 (103, 0.052017614589256723),
 (104, 0.019069363384353666),
 (105, 0.05829251692452292),
 (106, 0.09802869044307763),
 (107, 0.04400601961934312),
 (108, 0.0),
 (109, 0.0),
 (110, 0.0),
 (111, 0.012310476089558495),
 (112, 0.09112686140001021),
 (113, 0.015232732227373357),
 (114, 0.026927920634936407),
 (115, 0.07188571070299524),
 (116, 0.016596981390776123),
 (117, 0.046045589827051675),
 (118, 0.0),
 (119, 0.053834269278905236),
 (120, 0.035015761824056),
 (121, 0.0163650970813657),
 (122, 0.07668499534673054),
 (123, 0.02325301756648923),
 (124, 0.00851257739792339),
 (125, 0.06893030113962025),
 (126, 0.0157394463783303),
 (127, 0.2080470853928461),
 (128, 0.0),
 (129, 0.0),
 (130, 0.07239354186887839),
 (131, 0.04161119666600649),
 (132, 0.0757825575665528),
 (133, 0.08835169900683695),
 (134, 0.05370090400532013),
 (135, 0.005285782166919858),
 (136, 0.041237974506717054),
 (137, 0.0),
 (138, 0.09349251021745433),
 (139, 0.02146842667284062),
 (140, 0.007974068796836238),
 (141, 0.0385110014777902),
 (142, 0.011633494794863124),
 (143, 0.1335509829763743),
 (144, 0.12202282917948241),
 (145, 0.0844979657527721),
 (146, 0.01666710149695892),
 (147, 0.0755453136400278),
 (148, 0.014576061000319027),
 (149, 0.0),
 (150, 0.021618953013733358),
 (151, 0.10115097411347093),
 (152, 0.0461215518652478),
 (153, 0.09010114384819767),
 (154, 0.030736502357445086),
 (155, 0.05214524098275636),
 (156, 0.03972245475989612),
 (157, 0.0697872727958098),
 (158, 0.05536610363493625),
 (159, 0.030911659039455926),
 (160, 0.05287240557341704),
 (161, 0.07052296682620907),
 (162, 0.01917902931955057),
 (163, 0.042413748980833506),
 (164, 0.015344911286178058),
 (165, 0.046894700371424285),
 (166, 0.014215781066846707),
 (167, 0.05001752705498837),
 (168, 0.0),
 (169, 0.11832558252563591),
 (170, 0.01423282208014193),
 (171, 0.05327089433447979),
 (172, 0.012720321687510576),
 (173, 0.024580885509478394),
 (174, 0.0),
 (175, 0.009925427921150233),
 (176, 0.06942889183723248),
 (177, 0.11638850027925887),
 (178, 0.024803708146606297),
 (179, 0.0913115377410126),
 (180, 0.03361012871422151),
 (181, 0.07586297923060975),
 (182, 0.019745136998494436),
 (183, 0.0),
 (184, 0.038607270959230625),
 (185, 0.021082977397379143),
 (186, 0.0449737087832212),
 (187, 0.027309728665452664),
 (188, 0.07788383024875092),
 (189, 0.021658136633944267),
 (190, 0.0),
 (191, 0.041027368663787256),
 (192, 0.017297311278785376),
 (193, 0.0),
 (194, 0.1138863632409324),
 (195, 0.032477183885225434),
 (196, 0.030224573365069035),
 (197, 0.0071386586178333565),
 (198, 0.011232278307497689),
 (199, 0.04889718877174553),
 (200, 0.023328724045613695),
 (201, 0.0),
 (202, 0.0),
 (203, 0.016547619551840437),
 (204, 0.021064088657677792),
 (205, 0.0182577997518299),
 (206, 0.07428988782607088),
 (207, 0.1254681941685238),
 (208, 0.07359446850585331),
 (209, 0.07497055499268318),
 (210, 0.0),
 (211, 0.014533810354870108),
 (212, 0.0),
 (213, 0.046681570264014996),
 (214, 0.01752526337803331),
 (215, 0.011115228096917746),
 (216, 0.01602387212891687),
 (217, 0.015043486668173267),
 (218, 0.0),
 (219, 0.0),
 (220, 0.01229982119391749),
 (221, 0.04039893024555493),
 (222, 0.0),
 (223, 0.09214100353233419),
 (224, 0.012257270109209564),
 (225, 0.1003890464153666),
 (226, 0.018201328669019325),
 (227, 0.07616292740415545),
 (228, 0.07392728389307655),
 (229, 0.09641753615432423),
 (230, 0.03501687643947458),
 (231, 0.0616796080452426),
 (232, 0.046868573659916896),
 (233, 0.06090641862954904),
 (234, 0.009636050850830828),
 (235, 0.0),
 (236, 0.06406096991360109),
 (237, 0.0049552752457002755),
 (238, 0.03188985266261381),
 (239, 0.0),
 (240, 0.031893824960362915),
 (241, 0.027685382378546453),
 (242, 0.1378740409902429),
 (243, 0.02703811990271638),
 (244, 0.05436059356973633),
 (245, 0.008091930591340146),
 (246, 0.015888437022202447),
 (247, 0.013344802662573596),
 (248, 0.07313446696883003),
 (249, 0.0187056508387147),
 (250, 0.014089064575835513),
 (251, 0.009830886286561482),
 (252, 0.043940005878504135),
 (253, 0.0952953685159803),
 (254, 0.0564605553261948),
 (255, 0.016886593287548865),
 (256, 0.016729577315121737),
 (257, 0.0),
 (258, 0.0),
 (259, 0.055364809895892333),
 (260, 0.09157401097470474),
 (261, 0.024803708146606297),
 (262, 0.0),
 (263, 0.0479538357501055),
 (264, 0.0217887824342832),
 (265, 0.0),
 (266, 0.026736008522191507),
 (267, 0.03349031292104509),
 (268, 0.0),
 (269, 0.035127044927923755),
 (270, 0.1421645069307103),
 (271, 0.009606597154502901),
 (272, 0.06668102134800685),
 (273, 0.051034714196360915),
 (274, 0.02565743863073363),
 (275, 0.0380868639831219),
 (276, 0.07239259269371102),
 (277, 0.007882872276344936),
 (278, 0.02613579000526773),
 (279, 0.03631463739047199),
 (280, 0.09006960264280633),
 (281, 0.0),
 (282, 0.09461143971089046),
 (283, 0.0),
 (284, 0.012992333827101755),
 (285, 0.07057734497478596),
 (286, 0.06739330016379118),
 (287, 0.06256706729975393),
 (288, 0.09846331398518565),
 (289, 0.042951554654653196),
 (290, 0.0929993529025648),
 (291, 0.057839800907752426),
 (292, 0.09841093622993857),
 (293, 0.03971712378889618),
 (294, 0.007507041961105672),
 (295, 0.015757631764382475),
 (296, 0.0),
 (297, 0.1384220990472257),
 (298, 0.03465247782516739),
 (299, 0.014871647323217827),
 (300, 0.05620522841232924),
 (301, 0.07967151286163661),
 (302, 0.08135575533215679),
 (303, 0.03680749049378161),
 (304, 0.06604200755396265),
 (305, 0.035510234554872094),
 (306, 0.0),
 (307, 0.02443033906921256),
 (308, 0.010210951989347539),
 (309, 0.0),
 (310, 0.06546845449460886),
 (311, 0.04727931749534669),
 (312, 0.06328630583246186),
 (313, 0.012201487838232983),
 (314, 0.028691922534187567),
 (315, 0.015641987568959743),
 (316, 0.1067939970468176),
 (317, 0.05299889727558736),
 (318, 0.08300689769998527),
 (319, 0.01904027204264821),
 (320, 0.010715953623717685),
 (321, 0.03182975599412333),
 (322, 0.06882300663268132),
 (323, 0.05552580119954738),
 (324, 0.06747028391166601),
 (325, 0.08645903203885327),
 (326, 0.0),
 (327, 0.018882615590033115),
 (328, 0.0),
 (329, 0.0),
 (330, 0.0020467899316190283),
 (331, 0.0),
 (332, 0.0),
 (333, 0.023287138638613893),
 (334, 0.10698308582872275),
 (335, 0.026969226472464497),
 (336, 0.0),
 (337, 0.045681200861984544),
 (338, 0.07334963722261555),
 (339, 0.043079916611330614),
 (340, 0.09094619115886718),
 (341, 0.04408215638056314),
 (342, 0.06769667000378972),
 (343, 0.028484089577326),
 (344, 0.013873807391884312),
 (345, 0.0),
 (346, 0.01128935810071098),
 (347, 0.01539758151319475),
 (348, 0.016675084241386785),
 (349, 0.014051261958248013),
 (350, 0.07252769247779915),
 (351, 0.038106329847636934),
 (352, 0.012484810543775548),
 (353, 0.04659526117477405),
 (354, 0.012171866501219934),
 (355, 0.07924053484073292),
 (356, 0.041181950968981806),
 (357, 0.0579100444572897),
 (358, 0.0),
 (359, 0.0),
 (360, 0.0),
 (361, 0.013967645885650928),
 (362, 0.0),
 (363, 0.06767055762133821),
 (364, 0.05680029318775673),
 (365, 0.08510520747215711),
 (366, 0.007264091229461869),
 (367, 0.07785774440233467),
 (368, 0.05136409904992838),
 (369, 0.11230843415955898),
 (370, 0.034666848606041335),
 (371, 0.010617492445028737),
 (372, 0.015661334499754574),
 (373, 0.03430576928941879),
 (374, 0.014226764270937902),
 (375, 0.02057779773500568),
 (376, 0.06845828813745282),
 (377, 0.08128235176481971),
 (378, 0.0),
 (379, 0.04357756486856639),
 (380, 0.02053456545380837),
 (381, 0.012272371771766417),
 (382, 0.0),
 (383, 0.0),
 (384, 0.06615060789518692),
 (385, 0.02249401743190637),
 (386, 0.10731160798872981),
 (387, 0.051768175462251056),
 (388, 0.043370103471641615),
 (389, 0.019352550358063613),
 (390, 0.0),
 (391, 0.0),
 (392, 0.05174580140621027),
 (393, 0.12291868820988022),
 (394, 0.0),
 (395, 0.10574009038558163),
 (396, 0.051075464387540334),
 (397, 0.03795299490169669),
 (398, 0.0098100801546953),
 (399, 0.012762878679782643),
 (400, 0.0019313052215835685),
 (401, 0.028704290123526315),
 (402, 0.043546842194058875),
 (403, 0.005585134357164227),
 (404, 0.021592648803805767),
 (405, 0.037800931075716145),
 (406, 0.015211159190316154),
 (407, 0.033444367265738385),
 (408, 0.014527797665425383),
 (409, 0.1003872081763549),
 (410, 0.0),
 (411, 0.017902888885994367),
 (412, 0.04559607178202084),
 (413, 0.0),
 (414, 0.04175807497140066),
 (415, 0.060449670251915145),
 (416, 0.09664386882922113),
 (417, 0.013092281528253997),
 (418, 0.007575567906328741),
 (419, 0.10842551876572337),
 (420, 0.07245594002083709),
 (421, 0.03231847721786786),
 (422, 0.008720286212922063),
 (423, 0.0150785377149734),
 (424, 0.010587793107286286),
 (425, 0.06591339050762628),
 (426, 0.04384092905084354),
 (427, 0.009143792055269684),
 (428, 0.05077168874120172),
 (429, 0.02226883799417901),
 (430, 0.0817137529749784),
 (431, 0.049230536560767035),
 (432, 0.0),
 (433, 0.0794767817205152),
 (434, 0.013066206292587779),
 (435, 0.0873658332810012),
 (436, 0.029380299906216562),
 (437, 0.0809276620367819),
 (438, 0.06563849102121753),
 (439, 0.0),
 (440, 0.17809974783929491),
 (441, 0.048838292011332045),
 (442, 0.0),
 (443, 0.05126118734063655),
 (444, 0.08144120159614558),
 (445, 0.07562500547181983),
 (446, 0.06316264438635037),
 (447, 0.007161746514462108),
 (448, 0.007704561306605119),
 (449, 0.017567980407125195),
 (450, 0.0),
 (451, 0.04274530472073602),
 (452, 0.07418282841098046),
 (453, 0.07363441687749603),
 (454, 0.02387594831291519),
 (455, 0.055869492309612225),
 (456, 0.028847404042380686),
 (457, 0.12797449621724236),
 (458, 0.05112778813081639),
 (459, 0.0),
 (460, 0.014981772652530655),
 (461, 0.013014920360781848),
 (462, 0.022082975784096084),
 (463, 0.04330061413986462),
 (464, 0.08583861680872931),
 (465, 0.06580865659807554),
 (466, 0.010987944371731423),
 (467, 0.0),
 (468, 0.08304714666668467),
 (469, 0.07212493112156726),
 (470, 0.022923565996411027),
 (471, 0.01892066538108297),
 (472, 0.0536040904550871),
 (473, 0.08777749978767971),
 (474, 0.012873573542426044),
 (475, 0.052557769331177236),
 (476, 0.02664370785485435),
 (477, 0.053859450467223256),
 (478, 0.0),
 (479, 0.009667449097015505),
 (480, 0.015883908238807257),
 (481, 0.10931633417164345),
 (482, 0.0),
 (483, 0.0),
 (484, 0.0),
 (485, 0.0058151134336932005),
 (486, 0.015062346474912024),
 (487, 0.019925611466853805),
 (488, 0.022979478233737572),
 (489, 0.0),
 (490, 0.0),
 (491, 0.0),
 (492, 0.012613533137648205),
 (493, 0.025295319337296465),
 (494, 0.014302022538265248),
 (495, 0.05326109443583325),
 (496, 0.012420701288325023),
 (497, 0.06698422228556589),
 (498, 0.007229861475720079),
 (499, 0.006329452982511453),
 (500, 0.15622303005164856),
 (501, 0.02104211582990996),
 (502, 0.009985754326928437),
 (503, 0.028198237614689644),
 (504, 0.05458704834376607),
 (505, 0.04863364784094877),
 (506, 0.1046053044258059),
 (507, 0.06132092210774684),
 (508, 0.038304353949583536),
 (509, 0.039084846178434135),
 (510, 0.0),
 (511, 0.013605588157607151),
 (512, 0.05589058070817004),
 (513, 0.041652875803198534),
 (514, 0.11961979247531027),
 (515, 0.04271675191175755),
 (516, 0.0),
 (517, 0.0),
 (518, 0.07057590041632655),
 (519, 0.04813836404145333),
 (520, 0.01801246216331436),
 (521, 0.03625198665977131),
 (522, 0.0),
 (523, 0.11285121575942905),
 (524, 0.01237645633531146),
 (525, 0.018014920028122595),
 (526, 0.08291749635201258),
 (527, 0.01242817407003014),
 (528, 0.0),
 (529, 0.07434092187244962),
 (530, 0.025852210655251385),
 (531, 0.090104711507916),
 (532, 0.06378155491658327),
 (533, 0.05710204834515355),
 (534, 0.0610965736080663),
 (535, 0.0),
 (536, 0.08605441679791759),
 (537, 0.007584068098596178),
 (538, 0.12138886210178103),
 (539, 0.011341260108084044),
 (540, 0.07215842156792147),
 (541, 0.0),
 (542, 0.0),
 (543, 0.014189170097420885),
 (544, 0.038543700232216635),
 (545, 0.03407181797731818),
 (546, 0.03699637048348226),
 (547, 0.01182770838041114),
 (548, 0.03578074606348467),
 (549, 0.014578382946607628),
 (550, 0.10267103433089185),
 (551, 0.025563289616882992),
 (552, 0.09651797682645119),
 (553, 0.0),
 (554, 0.04559632624827055),
 (555, 0.06354140718834239),
 (556, 0.0),
 (557, 0.018396445230699884),
 (558, 0.010132867242574114),
 (559, 0.0651226281561198),
 (560, 0.010571740972591474),
 (561, 0.04028589437010083),
 (562, 0.018568228396194653),
 (563, 0.035704205941468385),
 (564, 0.0),
 (565, 0.012164719999033692),
 (566, 0.08438965472365426),
 (567, 0.03679428674953375),
 (568, 0.08483940855151284),
 (569, 0.0),
 (570, 0.06319226597303336),
 (571, 0.05202695702387658),
 (572, 0.044034393599273636),
 (573, 0.0),
 (574, 0.0),
 (575, 0.040179590087631264),
 (576, 0.03084288996864473),
 (577, 0.010223070303852765),
 (578, 0.017445252104881386),
 (579, 0.005764497207647115),
 (580, 0.014410520508574979),
 (581, 0.10430049816292872),
 (582, 0.015743078418618252),
 (583, 0.047973880535055274),
 (584, 0.007729100957340509),
 (585, 0.0),
 (586, 0.0),
 (587, 0.11748086674922673),
 (588, 0.043755989300982505),
 (589, 0.0),
 (590, 0.0),
 (591, 0.0),
 (592, 0.06593537152718609),
 (593, 0.0),
 (594, 0.013776837421019551),
 (595, 0.039038022365754765),
 (596, 0.01121578915423409),
 (597, 0.0622866970257724),
 (598, 0.0),
 (599, 0.012883379746397567),
 (600, 0.0),
 (601, 0.17967431783991286),
 (602, 0.03156670015946115),
 (603, 0.11259198107871365),
 (604, 0.05606199499429068),
 (605, 0.0),
 (606, 0.0),
 (607, 0.0930059720093559),
 (608, 0.0782795665567356),
 (609, 0.0),
 (610, 0.08546632442307489),
 (611, 0.08424803553902324),
 (612, 0.014578405486461362),
 (613, 0.019336089218837987),
 (614, 0.013962021994399606),
 (615, 0.007154293808331954),
 (616, 0.015417638629831629),
 (617, 0.006729188749548702),
 (618, 0.058780498583643974),
 (619, 0.011437036424805683),
 (620, 0.0452568288760656),
 (621, 0.014854923039824067),
 (622, 0.09859456099847505),
 (623, 0.06785515922996993),
 (624, 0.0),
 (625, 0.06665619648337803),
 (626, 0.07280279456676535),
 (627, 0.0),
 (628, 0.01934860091552146),
 (629, 0.0),
 (630, 0.0),
 (631, 0.0),
 (632, 0.0526026825075709),
 (633, 0.05747025355741645),
 (634, 0.0),
 (635, 0.035173068104303186),
 (636, 0.013722078038162628),
 (637, 0.035044141743397546),
 (638, 0.03825789512230442),
 (639, 0.00833488498778236),
 (640, 0.0),
 (641, 0.06315545565595104),
 (642, 0.0),
 (643, 0.005878533840462026),
 (644, 0.0),
 (645, 0.06283575620435136),
 (646, 0.08900471735490342),
 (647, 0.0),
 (648, 0.04431187589974848),
 (649, 0.056116952516144084),
 (650, 0.08491751850743674),
 (651, 0.011384001905583944),
 (652, 0.07985237083139102),
 (653, 0.04623020301526475),
 (654, 0.10045805488808375),
 (655, 0.10701645196311685),
 (656, 0.0),
 (657, 0.01282274076504925),
 (658, 0.06482400780588368),
 (659, 0.011717936090244671),
 (660, 0.07856929719524824),
 (661, 0.022624207973957536),
 (662, 0.08331798176892445),
 (663, 0.0825325641800036),
 (664, 0.035979406357923405),
 (665, 0.19915207689336847),
 (666, 0.0),
 (667, 0.05371309885846581),
 (668, 0.02894419632265431),
 (669, 0.04310674339592902),
 (670, 0.016315675947818388),
 (671, 0.012859955400209342),
 (672, 0.04390393805114664),
 (673, 0.013104364182042142),
 (674, 0.0),
 (675, 0.031310233104963864),
 (676, 0.027517503147484437),
 (677, 0.015365005422777968),
 (678, 0.0),
 (679, 0.022053150399545),
 (680, 0.034629005898399214),
 (681, 0.06791838231695776),
 (682, 0.03395919115847888),
 (683, 0.007382147151324833),
 (684, 0.0),
 (685, 0.0221851110039508),
 (686, 0.07890859794008981),
 (687, 0.0),
 (688, 0.0),
 (689, 0.035245288473724753),
 (690, 0.04270869900085878),
 (691, 0.09510844361291332),
 (692, 0.051543500610979634),
 (693, 0.04443667703919253),
 (694, 0.06888020071894828),
 (695, 0.011176133912272292),
 (696, 0.017888626180883146),
 (697, 0.024803708146606297),
 (698, 0.06743265848762446),
 (699, 0.06562032212015362),
 (700, 0.0448471862378849),
 (701, 0.002382156317853852),
 (702, 0.11220071206465437),
 (703, 0.012879857933106635),
 (704, 0.029012512624575316),
 (705, 0.07574665311586248),
 (706, 0.0623067219516754),
 (707, 0.03894016453961303),
 (708, 0.0),
 (709, 0.042136021417670075),
 (710, 0.045002157265208266),
 (711, 0.06690099151095051),
 (712, 0.0),
 (713, 0.0),
 (714, 0.05393630464794771),
 (715, 0.0),
 (716, 0.12628756737888797),
 (717, 0.03393579522655364),
 (718, 0.13256565920987398),
 (719, 0.08634289048227319),
 (720, 0.028207215590709357),
 (721, 0.05528551884664055),
 (722, 0.06389660518507659),
 (723, 0.029453113648383336),
 (724, 0.0),
 (725, 0.12839321391788103),
 (726, 0.0),
 (727, 0.04968693119120933),
 (728, 0.09218786333391132),
 (729, 0.0037979809886641825),
 (730, 0.04738614080050636),
 (731, 0.02396530395336732),
 (732, 0.02387594831291519),
 (733, 0.0),
 (734, 0.03367114683675856),
 (735, 0.03589343359303357),
 (736, 0.07500117871971493),
 (737, 0.031852006787469286),
 (738, 0.09078128055549634),
 (739, 0.14496893915019804),
 (740, 0.08513666283374344),
 (741, 0.041474685466128494),
 (742, 0.03970054225024421),
 (743, 0.0),
 (744, 0.0),
 (745, 0.07055118339685777),
 (746, 0.07408445136797277),
 (747, 0.02934990280019966),
 (748, 0.013913849727529102),
 (749, 0.0),
 (750, 0.009060503886390415),
 (751, 0.04417410452981622),
 (752, 0.0144751553605908),
 (753, 0.020043068720228104),
 (754, 0.05910270570690358),
 (755, 0.059931195064811184),
 (756, 0.1782421419783686),
 (757, 0.03687492381770125),
 (758, 0.05899412522274815),
 (759, 0.04409136675097118),
 (760, 0.016363878760345483),

In [42]:
#this is what we need as we will just recommend the top 5 books out of this
pd.DataFrame(list(enumerate(similarity_scores[0])),columns=['book-index','similarity']).sort_values('similarity',ascending=False)

     book-index  similarity
0             0    1.000000
75           75    0.233314
127         127    0.208047
665         665    0.199152
88           88    0.183872
..          ...         ...
484         484    0.000000
235         235    0.000000
573         573    0.000000
482         482    0.000000
483         483    0.000000

[1072 rows x 2 columns]

In [43]:
def recommend(book_name):
    pos=np.where(pt.index==book_name)[0][0]
    similar_books_in=pd.DataFrame(list(enumerate(similarity_scores[pos])),columns=['book-index','similarity']).sort_values('similarity',ascending=False)['book-index'][1:11]
    l1=list([])
    l2=list([])
    for i in similar_books_in:
        l1.append(pt.index[i])
        l2.append(list(filtered_rating[filtered_rating['Book-Title']==pt.index[i]]['Image-URL-M'].head(1))[0])
    return l1,l2

In [44]:
recommend('Harry Potter and the Goblet of Fire (Book 4)')

C:\Users\rohan\AppData\Local\Temp\ipykernel_18220\2852388830.py:3: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  similar_books_in=pd.DataFrame(list(enumerate(similarity_scores[pos])),columns=['book-index','similarity']).sort_values('similarity',ascending=False)['book-index'][1:11]

(['Harry Potter and the Prisoner of Azkaban (Book 3)',
  'Harry Potter and the Chamber of Secrets (Book 2)',
  'Harry Potter and the Order of the Phoenix (Book 5)',
  "Harry Potter and the Sorcerer's Stone (Book 1)",
  "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
  'The Fellowship of the Ring (The Lord of the Rings, Part 1)',
  "Bridget Jones's Diary",
  'The Bad Beginning (A Series of Unfortunate Events, Book 1)',
  'The Two Towers (The Lord of the Rings, Part 2)',
  'A Walk to Remember'],
 ['http://images.amazon.com/images/P/0439136369.01.MZZZZZZZ.jpg',
  'http://images.amazon.com/images/P/0439064864.01.MZZZZZZZ.jpg',
  'http://images.amazon.com/images/P/043935806X.01.MZZZZZZZ.jpg',
  'http://images.amazon.com/images/P/043936213X.01.MZZZZZZZ.jpg',
  'http://images.amazon.com/images/P/059035342X.01.MZZZZZZZ.jpg',
  'http://images.amazon.com/images/P/0618129030.01.MZZZZZZZ.jpg',
  'http://images.amazon.com/images/P/0330332775.01.MZZZZZZZ.jpg',
  'http://images.amazon.com/images/P/0064407667.01.MZZZZZZZ.jpg',
  'http://images.amazon.com/images/P/0618002235.01.MZZZZZZZ.jpg',
  'http://images.amazon.com/images/P/0446608955.01.MZZZZZZZ.jpg'])

In [46]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(filtered_rating,open('filtered_rating.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))